/* ################# NOSOTROS Y PERS-CAP ###################### */
.contenido-nosotros, .pers-cap {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    background: rgba(255, 196, 3, 0.329);
}
.pers-cap-p {
    margin: 3em 6em;
    padding: 2em 4em;
    height: 400px;
    background: rgb(223, 222, 222);
    line-height: 35px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con-nos-div {
    display: flex;
    gap: 10px;
    padding: 1.5em;
}
.contenido-h2 {
    height: 2em;
    display: flex;
    align-items: flex-start; 
}
.contenido-n {
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(223, 222, 222);
    font-size: 1.3em;
    grid-row: 2 / 4;
    line-height: 35px;
}
.boton-menu {
    display: none;
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    z-index: 2;
    top: 20px;
    right: 55px;
}
.icoMenu {
    width: 1.8em;
}