/* ################ PRODUCTOS Y SERVICIOS ################- */
.contenido-servicios,.contenido-productos {
    width: 100%;
    height: 690px;
    display: grid;
    background: rgba(255, 196, 3, 0.329);
    margin: 2em 0;
}
.contenido-servicios {
    height: 900px;
}
.contenido-h2,.contenido-h3, .pers-cap-h2 {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido-h2 {
    padding: 2em;
}
.contenido-p {
    padding: 30px;
    font-size: 1.2em;
}
.contenido-ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
}
.contenido-li {
    margin: 8px;
    padding: 2px 6em;
    line-height: 32px;
    background: rgba(199, 199, 199, 0.767);
}
.contenido-li:hover {
    background: rgba(199, 199, 199, 0.479);
}