
.main {
    position: relative;
    width: auto;
    height: 100vh;
    padding: 40px;
    z-index: 50;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main__title {
    margin-top: 25px;
    color: var(--titleColor);
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Aldrich', 'Orbitron', sans-serif;
    text-shadow: 5px 8px 6px black;
    text-align: center;
    text-transform: uppercase;
    z-index: 20;
}
.main__title::first-letter {
    font-size: 60px;
}
.main__paragraph {
    margin-top: 50px;
    color: var(--paragraphColor);
    text-align: center;
    text-shadow: 5px 8px 6px black;
    font-size: 1.9rem;
    line-height: 4rem;
}

.box {
    text-align: center;
    background-color: var(--secondaryColor);
    position: relative;
}
.box::before {
    content: "";
    display: block;
    position: absolute;
    top: -98px;
    width: 100%;
    height: 100px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: var(--secondaryColor);
}
.box__galery {
    position: relative;
    height: auto;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 440px), 1fr));
}
.box__galery--img {
    position: relative;
}
.img {
    width: 100%;
    border: 1px solid var(--paragraphColor);
}
@media screen and (max-width:980px) {
    .main__title {
        position: relative;
        top: 0;
    }
    .main__paragraph {
        position: relative;
        top: 0;
        z-index: 100;
    }
}
@media screen and (max-width:745px){
    .main {
        padding: 0 20px;
    }
    .main__title {
        font-size: 2.5rem;
    }
}
@media screen and (max-width:440px) {
    .main {
        padding: 0 10px;
    }
    .main__title {
        font-size: 2rem;
    }
    .main__paragraph {
        font-size: 1.4rem;
        top: -30px;
    }
}