
<header class="main">
    <h1 class="main__title sticky">
        <!-- SPAN D PARA AGRANDARLA -->
        Cerrajería <span class="main__title--span">D</span>ominguez
    </h1>
    <p class="main__paragraph sticky">
        En Cerrajería Dominguez te brindamos la mejor atención de la mano de maquinas de última
        tecnología para así poder ofrecerte un mejor y exclusivo servicio. <br> Podes encontrarnos
        en Belgrano 2341 - Coronda
    </p>
</header>
<!--################ SECCION PRODUCTOS ################ -->
<section class="section sticky">
    <article class="box">
        <div class="box__description">
            <h2 class="box__description--title title__productos sticky">Productos</h2>
            <p class="box__description--paragraph sticky">Contamos con todas las máquinas para duplicados de llaves, tanto
                domiciliarias como vehiculares.
            </p>
            <button [routerLink]="['/products']" type="button" class="box__button sticky">Ver mas</button>
        </div>
        <div class="box__galery">
            <img class="box__galery--img sticky" *ngFor="let img of productsImages()" src=" {{ img.url }} " alt="">
        </div>
    </article>
</section>
<!--################  SECCION SERVICIOS ################ -->
<section class="section  section__reverse sticky">
    <article class="box box__reverse">
        <div class="box__description">
            <h2 class="box__description--title sticky">Servicios</h2>
            <p class="box__description--paragraph sticky">Servicio de codificado de chip inmovilzador, tallado de llave
                como también generación de telemando a distancia para cierres centralizados.
            </p>
            <button [routerLink]="['/services']" type="button" class="box__button sticky">Ver mas</button>
        </div>
        <div class="box__galery">
            <img class="box__galery--img sticky" *ngFor="let img of serviceImages()" src=" {{ img.url }} " alt="">
        </div>
    </article>
</section>
<!--################  SECCION UBICACION ################ -->
<section class="section sticky">
    <article class="box">
        <div class="box__description">
            <h2 class="box__description--title title__ubicacion sticky">Ubicación</h2>
            <p class="box__description--paragraph">Nos encontramos en: <br> Belgrano 2243 Coronda - Santa Fe
            </p>
        </div>
        <!--  -->
        <ng-container *ngIf="showMap; else mapLoadError;">
            <iframe
                #googleMap
                class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6768.760662637175!2d-60.92736368484473!3d-31.97770377363809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5bf8a8aeb20f9%3A0x390f5462ae13c2e8!2sCerrajeria%20Dominguez!5e0!3m2!1ses-419!2sar!4v1639193209399!5m2!1ses-419!2sar"
                allowfullscreen=""
                loading="lazy">
            </iframe>
        </ng-container>
            <!-- <button type="button" class="box__button sticky">Ver mas</button> -->
        <ng-template #mapLoadError>
            <h3 class="mapLoadError">Error al cargar la ubicación!</h3>
        </ng-template>
    </article>
</section>
<!--################  SECCION REDES SOCIALES ################ -->
<section class="section section__reverse sticky">
    <article class="box box__reverse">
        <div class="box__description">
            <h2 class="box__description--title sticky">Redes</h2>
            <p class="box__description--paragraph sticky">
                Búscanos en nuestras redes sociales
            </p>
        </div>
        <div class="box__redes sticky">
            <a href="">
                <i><img class="box__redes--icon" src="assets/img/icons/facebook.svg"alt="facebook-icono" title="facebook"></i>
            </a>
            <a href="">
                <i><img class="box__redes--icon" src="assets/img/icons/whatsapp.svg" alt="whatsapp-icono" title="whatsapp"></i>
            </a>
            <a href="">
                <i><img class="box__redes--icon" src="assets/img/icons/instagram.svg" alt="instagram-icono" title="instagram"></i>
            </a>
        </div>
    </article>
</section>
<app-footer></app-footer>
