
<div class="footer">
    <h3 class="footer__title">Cerrajería Dominguez</h3>
    <div class="footer__contact">
        <h4>contactanos:</h4>
        <p>email: <a href="">cerrajería-dominguez@gmail.com</a> </p>
        <p>tel: 4910305</p>
    </div>
    <div class="footer__info">
        <h4>trabajamos con todas las tarjetas</h4>
        <div class="footer__info-cards">
            <i><img class="footer__icon" src="../../../../assets/img/icons/visa.svg" alt=""></i>
            <i><img class="footer__icon" src="../../../../assets/img/icons/mastercard.svg" alt=""></i>
            <i><img class="footer__icon" src="../../../../assets/img/icons/paypal.svg" alt=""></i>
        </div>
    </div>
</div>