
<div class="footer">
    <h3 class="footer__title">Cerrajería Dominguez</h3>
    <div class="footer__links">
        <p>inicio</p>
        <p>productos</p>
        <p>servicios</p>
        <p>contacto</p>
    </div>
    <div class="footer__contact">
        <p>correo: cerrajerita-dominguez@gmail.com</p>
        <p>tel: 4910305</p>
    </div>
    <div class="footer__info">
        <p>Urgencias las 24hs</p>
        <p>Trabajamos con todas las tarjetas</p>
        <p>Buenos precios y la mejor atención</p>
    </div>
</div>